---
layout: layouts/root.njk
subtitle: contact
---

<header>
    <h1>contact</h1>
</header>
<hr/>
<p>
    If you have any questions, suggestions, or just want to chat, you can send your message to the address below. Unless
    you're a scammer or a bot, I will reply within a few business days.
</p>
<p>
    <img src="/assets/images/email.png" alt="Email address" width="222"/>
</p>