---
layout: layouts/root.njk
subtitle: contact
---

<header>
    <h1>contact</h1>
</header>
<hr/>
<p>
    If you have any questions, suggestions, or just want to chat, you can send your message to the address below. Unless
    you're a scammer or a bot, I will reply within a few business days.
</p>
<p>
    <img src="/assets/images/email.png" alt="Email address" width="222"/>
</p>
<p>
    You can also share files to my Nextcloud account using Federation Sharing: <br/>
    <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://nextcloud.com/sharing#rivst@cloud.disroot.org"
        class="no-external-icon"
        style="padding:10px;background-color:#50162D;color:#ffffff;border-radius:3px;padding-left:4px;">
        <span style="background-image:url(https://cloud.disroot.org/apps/theming/image/logo?useSvg=1&v=96);width:50px;height:30px;position:relative;top:8px;background-size:contain;display:inline-block;background-repeat:no-repeat;
            background-position: center center;"></span>
        Share with me via Nextcloud
    </a>
</p>