---
layout: layouts/root.njk
subtitle: contact
---

<header>
    <h1>contact</h1>
</header>
<hr/>
<p>
    If you have any questions, suggestions, or just want to chat, you can send your message to the address below. Unless
    you're a scammer or a bot, I will reply within a few business days.
</p>
<p>
    <img src="/assets/images/email.png" alt="Email address" width="222"/>
</p>
<p>
    You can also share files to my Nextcloud account using Federation Sharing:
</p>
<p>
    <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://nextcloud.com/sharing#rivst@cloud.disroot.org"
        class="no-external-icon button default"
        style=" display: flex; align-items: center; width: fit-content; gap: 12px; ">
        <img src="https://cloud.disroot.org/apps/theming/image/logo?useSvg=1&amp;v=96" style="height:30px;"> Share with me via
        Nextcloud
    </a>
</p>