---
layout: layouts/root.njk
---

{% from 'macros/unwrap_links.njk' import unwrap_links %}
<header>
    <h1>rivst
    </h1>
    <nav class="links">
        {{ unwrap_links(nav_links) }}
    </nav>
</header>
<hr/>
<main>
    <section>
        <p>I'm Alex, a.k.a. rivst. I research transformations in higher education systems and how technology can help
            humans learn better. This site documents my research, ideas, and ongoing projects.</p>
        <p>
            The best way to contact me is via email
            <em>&lt;me at riv dot st&gt;</em>.
        </p>
        <p>I don't have much social media presence but I do enjoy sharing things sometimes. You can see what I'm up to here:</p>
        <p class="links">
            {{ unwrap_links(social_links) }}
        </p>
    </section>
</main>