---
layout: layouts/root.njk
---

{% from 'macros/unwrap_links.njk' import unwrap_links %}
<header>
    <h1>rivst
    </h1>
    <nav class="links">
        {{ unwrap_links(nav_links) }}
    </nav>
</header>
<hr/>
<main>
    <section>
        <p>I'm Alex, a.k.a. rivst. This site documents my research, ideas, and ongoing projects.</p>
        <p class="links no-pipe">
            {{ unwrap_links(social_links) }}
        </p>
    </section>
</main>