---
subtitle: notes
layout: layouts/root.njk
---

<header>
    <h1>notes
    </h1>
</header>
<hr/>
<main>
    <section>
        These are some thoughts and ideas I've had over the time. Select ones, in a
        <a href="https://indieweb.org/POSSE">POSSE</a>
        fashion, are cross-posted to
        <a href="https://rivstt.substack.com/">Riv's Field Notes</a>.
    </section>
    <section>
        <ul>
            {% for note in collections.note | reverse %}
                <li>
                    <a href="{{ note.url }}">{{ note.data.title }}</a>
                    - {{ note.date | post_date }}</li>
            {% endfor %}
        </ul>
    </section>
    <p>
        Unless otherwise specified, notes are licensed under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    </p>
</main>