---
layout: layouts/root.njk
subtitle: now
---

{% from 'macros/unwrap_list.njk' import unwrap_list %}
{% from 'macros/unwrap_item_with_author.njk' import unwrap_item_with_author %}
<header>
  <h1>now</h1>
</header>
<hr/>
<main>
  <section>
    <p>
      More paper writing. Building a new Arch Linux install with XFCE + i3. Making progress on side projects (or at least
      trying to). Cutting down on screen time and stimulations
    </p>
    <p>Reading now:</p>
    {% call(item) unwrap_list(now_reading) %}
    {{ unwrap_item_with_author(item) }}
    {% endcall %}
    {% if now_podcasts | length > 0 %}
      <p>Podcasts in rotation:</p>
      {{ unwrap_list(now_podcasts) }}
    {% endif %}
    {% if now_music | length > 0 %}
      <p>Listening on repeat now:</p>
      {% call(item) unwrap_list(now_music) %}
      {{ unwrap_item_with_author(item) }}
      {% endcall %}
    {% endif %}
    <p>
      <em>Last updated:
        <time>Jul 7, 2025, 6:06 PM</time>
      </em>
    </p>
    <p>
      <a href="/now.txt">archive</a>
    </p>
  </section>
</main>