---
layout: layouts/root.njk
subtitle: now
---

{% from 'macros/unwrap_list.njk' import unwrap_list %}
{% from 'macros/unwrap_item_with_author.njk' import unwrap_item_with_author %}
<header>
  <h1>now</h1>
</header>
<hr/>
<main>
  <section>
    <p>
      Finishing the thesis draft, making progress on a side project in the meantime.
    </p>
    <p>Reading now:</p>
    {% call(item) unwrap_list(now_reading) %}
    {{ unwrap_item_with_author(item) }}
    {% endcall %}
    {% if now_podcasts | length > 0 %}
      <p>Podcasts in rotation:</p>
      {{ unwrap_list(now_podcasts) }}
    {% endif %}
    {% if now_watching | length > 0 %}
      <p>Watching:</p>
      {{ unwrap_list(now_watching) }}
    {% endif %}
    {% if now_music | length > 0 %}
      <p>Listening on repeat:</p>
      {% call(item) unwrap_list(now_music) %}
      {{ unwrap_item_with_author(item) }}
      {% endcall %}
    {% endif %}
    <p>
      <em>Last updated:
        <time>Oct 1, 2025, 5:36 PM</time>
      </em>
    </p>
    <p>
      <a href="/now.txt">archive</a>
    </p>
  </section>
</main>