---
layout: layouts/root.njk
---

{# TODO: One day I'll re-do it nicely and DRYly #}
<header>
  <h1>projects</h1>
</header>
<hr/>
<main>
  <section>
    <p>
      Here are some noteworthy or interesting projects I have finished.
    </p>
    <article>
      <h2>pn-sequence</h2>
      {# TODO: Refactor these badges into a macro #}
      <img src="https://img.shields.io/github/license/0xrivst/pn-sequence" alt="License badge"/>
      <img src="https://img.shields.io/github/v/release/0xrivst/pn-sequence" alt="Version badge"/>
      <p>
        A Python library for testing pseudo-noise (PN) sequences. It checks a given sequence against Golomb's Randomness
        Postulates. If the sequence satisfies all three, it's a PN sequence.
      </p>
      <p>
        <a href="https://github.com/0xrivst/pn-sequence">GitHub repository</a>
        |
        <a href="https://pypi.org/project/pn-sequence/">PyPI package</a>
      </p>
    </article>
    <article>
      <h2>fern</h2>
      <img src="https://img.shields.io/github/license/0xrivst/fern" alt="License badge"/>
      <img src="https://img.shields.io/github/v/release/0xrivst/fern" alt="Version badge"/>
      <p>
        <em>F</em>rugal
        <em>E</em>thereal enc<em>R</em>ypted pastebi<em>N</em>. A simple paste bin tool in a single HTML file, uses LZMA
          compression and AES-GCM encryption using web Crypto API. Can be deployed or carried around like a portable program.
      </p>
      <p>
        <a href="https://github.com/0xrivst/fern">GitHub repository</a>
        |
        <a href="https://github.com/0xrivst/fern/releases">Download</a>
        |
        <a href="https://fern-paste.vercel.app/">Demo</a>
      </p>
    </article>
    <article>
      <h2>penne</h2>
      <img src="https://img.shields.io/github/license/0xrivst/penne" alt="License badge"/>
      <p>
        Yet another paste bin web app. Small and fast with no JS frameworks. Server-side encryption with AES-GCM-SIV. Optional
        client-side encryption with XChaCha20Poly1305.
      </p>
      <p>
        <a href="https://github.com/0xrivst/penne">GitHub repository</a>
      </p>
    </article>
    <article>
      <h2>hangul</h2>
      <img src="https://img.shields.io/github/license/0xrivst/hangul" alt="License badge"/>
      <p>
        A simple hangul recognition trainer inspired by gohoneko's kana trainer.
      </p>
      <p>
        <a href="https://github.com/0xrivst/hangul">GitHub repository</a>
        |
        <a href="https://hangul-trainer.vercel.app/">Learn</a>
      </p>
    </article>
  </section>
</main>