---
layout: layouts/root.njk
---

{% from 'macros/unwrap_list.njk' import unwrap_list %}
<header>
    <h1>{{ title }}</h1>
    <div class="post-timestamps">
        <p>Created:
            <time>{{ page.date | post_date }}</time>
        </p>
        <p>
            Modified:
            <time>{{ lastModified | post_date }}</time>
        </p>
    </div>
    <div class="post-tags">
        <strong>Tags:</strong>
        {{ unwrap_list(tags) }}
    </div>
</header>
<hr/>
<main>
    <article>
        {{ content | safe }}
    </article>
</main>